.ce-selector_footer {
   text-align: right;
 }

.ce-selector_dialog {
  .el-dialog__header {
    border-bottom: 1px solid #ddd;
    margin-right: 0;
  }

  .el-dialog__body {
    padding: 20px 20px;
  }
}
