.ce-item{
  .ce-item_label{
    width: auto;
    text-align: right;
    line-height: 32px;
    font-size: 14px;
    color: #606266;
    padding: 0 12px 0 0;
    box-sizing: border-box;
    font-weight: 400;
  }
  .ce-item_content{
    position: relative;
    font-size: 14px;
    position: relative;
  }
}
.ce-item.inline{
  display: inline-flex;
  vertical-align:middle;
  margin-right: 20px;
  .ce-item_content{
    flex: 1;
    position: relative;
  }
  .el-input__suffix{
    position: absolute;
    right: 10px;
  }
}
